body {
    margin: 0;

    width:  100vh;
    height: 100vh;

    font-size: 15px;
}

#world {
    position: fixed;

    top:  0;
    left: 0;

    width:  500px;
    height: 500px;

    transform: rotateX(180deg);
}

#world .live {
    stroke-width: 3;
    stroke-dasharray: 1000;
}

#world .team-1 {fill: rgb(20, 200, 200); stroke: rgb(75, 255, 255);}
#world .team-2 {fill: rgb(200, 200, 20); stroke: rgb(255, 255, 75);}
